@model Entity_Example.Models.PersonViewModel
@{
    ViewBag.Title = "detail";
}

<h2> User's Detail</h2>

Name: @Model.Name
<br />
Email: @Model.email
<br />
Website : @Model.website
<br />
Car Name : @Model.CarName
<br />
Car Plak : @Model.CarPlak
<br />
